.registro-personas {
  width: calc(100vw - 100px);
  height: calc(100vh - 80px);
  background-color: rgb(240, 244, 249);

  .cont-table {
    padding: 0px;
    overflow-y: auto;
    height: calc(100% - 110px);

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    table {
      width: calc(100vw - 150px);
      text-align: center;

      thead {
        position: sticky;
        background-color: rgb(240, 244, 249);
        top: 0px;
        color: orange;
      }

      tbody {
        td {
          border: 1px solid rgba(128, 128, 128, 0.5);
          padding: 0px 10px;
          font-size: 0.8rem;
        }

        .actions {
          width: 90px;

          .btn--danger {
            font-size: 1.2rem;
            width: 30px;
            height: 30px;
            border: none;
            color: rgba(255, 0, 55, 0.758);
            cursor: pointer;
          }

          .btn--edit {
            border: none;
            font-size: 1.2rem;
            width: 30px;
            height: 30px;
            cursor: pointer;
            color: rgba(0, 128, 0, 0.511);
          }
        }
      }
    }
  }
}


.form_section{
  // background-color: crimson;
  margin: 0px;
  padding: 0px;
  height: 80%;
  display: grid;
  justify-content: center;
  grid-template-rows: 15px 1fr;

  div{
    // background-color:royalblue;
    // border: 1px solid rgba(128, 128, 128, 0.5);
    height: auto;
    border-top: none;
    width: 500px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    accent-color: orange;
    color: orange;

    button{
      position: absolute;
      bottom: 40px;
      right: 20px;
      height: 48px;
      width: 150px;
      border: none;
      background-color: orange;
      border-radius: 10px;
      color: white;
    }

    .respuestaopcion { 
      background-color: white; 
      border-radius: 10px; 
      height: 60px; 
      width: 150px; 
      padding: 0px 10px; 
      display: flex; 
      align-items: center;
      color: #222;
    
      input { 
        height: 30px; 
        padding: 5px; 
        accent-color: orange !important; // Aquí cambias el color de acento a naranja
      }
    }
    
  }

  .form_progress_bar{
    background-color:  orange;
    height: 10px;
    width: 90%;
    justify-self: center;
    border-radius: 10px;
    color: #222;
    font-weight: bold;
  }
}

